#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.images a:first-child img{
    margin-right: 25px;
}
.images a:last-child img{
    margin-left: 25px;
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #F39F5A;
}
.text h2:first-child {
    margin-right: 350px;
}
.text h2:last-child {
    margin-left: 350px;
}
#main img{
    margin-top: 30px;
    width: 700px;
    border-radius: 10%;
}