body{
    background-color: #2E4374;
    padding: 0%;
    margin: 0%;
}
#header{
    background-color: #4B527E;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-color: #E5C3A6;
    justify-content: space-between;
}
#header ul{
    padding: 0%;
    margin: 0%;
    display: inline;
    margin-right: auto;
}
#header ul li{
    display: inline;
}
#header li {
    padding-left: 10px;
    padding-right: 20px;
    color: #E5C3A6;
}
#header img {
    margin: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}