<!DOCTYPE html>
<html>
    <head>
        <title> Admin Page </title>
         <link rel="stylesheet" href="{{url_for('static', filename='style/admin-user-view.css')}}"> 
         <link rel="stylesheet" href="{{url_for('static', filename='style/header.css')}}"> 
        <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    </head>
<body>
    <div style="padding:20px;" id="header">
        <a></a>
        <nav>
            <ul>
                <a href="/home"><li>Home</li></a>
            </ul>
        </nav>
    <a></a>
    </div>
    <div class="main">
        <div class="profiles">
            {% for user in users %}
            <div class="profile">
                <div class="profile-info" id={{user[0]}}>
                    
                    <div class="profile-name">
                        <h2>{{user[1]}}  {{user[2]}}</h2> 
                    </div>
                    <div class="profile-detail">
                        <ul> 
                            <li>Email: {{user[3]}}</li>
                        </ul>
                    </div>
                    <div class="profile-buttons">
                        <div class="dev-info-button">
                            <button onclick="send_form('{{user[0]}}')" class="profile-button-info">Delete</button></a>
                        </div>
                        <div class="edit-button">
                            <a href="/admin-edit-profile?user_id={{user[0]}}"><button>Edit</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>

    <script>
        async function send_form(user_id) {
            try {
                const response = await fetch("{{url_for('api_admin_delete_profile')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        user_id: user_id
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/admin";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }
    </script>
</body>