<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='style/register.css')}}" rel="stylesheet">
</head>
<body>



    <nav class="navbar navbar-expand-lg navbar-light">

        <button class="btn btn-light" onclick="redirectToPage('/profile')" type="button">Back</button>      
    </nav>

    <div class="register-container">
        <div class="register-form">
            <h1>Change Password</h1>
            <p>Please fill in this form to change password.</p>
            <hr>
            <div class="input-container">
                <label for="name">Current password</label>
                <input type="password" id="password" name="name" required>
            </div>
            <div class="input-container">
                <label for="surname">New password</label>
                <input type="password" id="new_password" name="surname" required>
            </div>
            <div class="input-container">
                <label for="email">Repeat new password</label>
                <input type="password" id="repeat_password" name="email" required>
            </div>

            <div class="button-container">
                <button class="btn btn-light w-50" id="submit-button" type="submit">Accept</button>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }
    </script>
    <script>
        let button = document.getElementById("submit-button");
        let in_password = document.getElementById("password");
        let in_new_password = document.getElementById("new_password");
        let in_repeat = document.getElementById("repeat_password");

        async function send_form() {
            if (in_password.value=="" || in_new_password.value=="" || in_repeat.value=="") {
                alert("One of the fields is missing.");
                return;
            }

            if (in_new_password.value != in_repeat.value) {
                alert("New password doesn't match.");
                return;
            }

            try {
                const response = await fetch("{{url_for('api_change_password')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        password: in_password.value,
                        new_password: in_new_password.value
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/profile";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }

        button.addEventListener("click", () => send_form());
    </script>
</body>
</html>
