<!DOCTYPE html>
<html>
    <head>
        <title> Devices & Systems </title>
        <link rel="stylesheet" href="{{url_for('static', filename='style/my-device.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='style/header.css')}}">
    </head>
<body>
    <div id="header">
        <img src = "{{url_for('static', filename='images/logo.png')}}" alt = "logo">
        <nav>
            <ul>
                <a href="/home"><li>Home</li></a>
                <a href="/devices"><li>Devices</li></a>
                <a href="/systems"><li>Systems</li></a>
            </ul>
        </nav>
    <a href="/profile"><img src = "{{url_for('static', filename='images/person.jpg')}}" alt = "profile"></a>
    </div>
    <div class="main">
        <div class="devices">
            <div class ="device-cluster">
                <div class="device-basic">
                    <div class="device-image">
                        <img src="{{url_for('static', filename='images/karburator.jpg')}}" alt="device-image">
                    </div>
                    <div class="right-side">
                        <div class="device-name">
                            <h2>karburator</h2>
                        </div>
                        <div class="kpi-image">
                            <img src="{{url_for('static', filename='images/kpi-green.webp')}}" alt="green kpi">
                        </div>
                    </div>
                </div>
    
                <div class="device-info">
                    <div class="device-info-detail">
                        <ul>
                            <li>No. 0899193</li>
                            <li>High quality</li>
                            <li>New</li>
                        </ul>
                    </div>
                    <div class="device-edit-button">
                        <a href="/edit-device">
                            <button type="button">Edit device</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class ="device-cluster">
                <div class="device-basic">
                    <div class="device-image">
                        <img src="{{url_for('static', filename='images/karburator.jpg')}}" alt="device-image">
                    </div>
                    <div class="right-side">
                        <div class="device-name">
                            <h2>karburator</h2>
                        </div>
                        <div class="kpi-image">
                            <img src="{{url_for('static', filename='images/kpi-green.webp')}}" alt="green kpi">
                        </div>
                    </div>
                </div>
    
                <div class="device-info">
                    <div class="device-info-detail">
                        <ul>
                            <li>No. 0899193</li>
                            <li>High quality</li>
                            <li>New</li>
                        </ul>
                    </div>
                    <div class="device-edit-button">
                        <a href="/edit-device">
                            <button type="button">Edit device</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="systems">
            <div class ="system-cluster">
                <div class="system-basic">
                    <div class="system-image">
                        <img src="{{url_for('static', filename='images/motor.png')}}" alt="system-image">
                    </div>
                    <div class="right-side">
                        <div class="system-name">
                            <h2>Motor</h2>
                        </div>
                        <div class="kpi-image">
                            <img src="{{url_for('static', filename='images/kpi-green.webp')}}" alt="green kpi">
                        </div>
                    </div>
                </div>
    
                <div class="system-info">
                    <div class="system-info-detail">
                        <ul>
                            <li>No. 0899193</li>
                            <li>High quality</li>
                            <li>New</li>
                        </ul>
                    </div>
                    <div class="system-edit-button">
                        <a href="/edit-system">
                            <button type="button">Edit system</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>