<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="{{url_for('static', filename='style/register.css')}}" rel="stylesheet">
</head>
<body>
    <div class="register-container">
        <form class="register-form">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <div class="input-container">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-container">
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" required>
            </div>
            <div class="input-container">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" required>
            </div>
            <div class="input-container">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-container">
                <label for="repeat-password">Repeat Password</label>
                <input type="password" id="repeat-password" name="repeat-password" required>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember me</label>
            </div>
            <div class="button-container">
                <button id="submit-button" type="button">Sign Up</button>
            </div>
        </form>
    </div>
    <script>
        let button = document.getElementById("submit-button");
        let in_name = document.getElementById("name");
        let in_surname = document.getElementById("surname");
        let in_phone = document.getElementById("phone");
        let in_email = document.getElementById("email");
        let in_password = document.getElementById("password");
        button.addEventListener("click", async () => {
            try {
                const response = await fetch("{{url_for('api_reg')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: in_name.value,
                        surname: in_surname.value,
                        phone: in_phone.value,
                        email: in_email.value,
                        password: in_password.value
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "{{url_for('profile')}}";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        });
    </script>
</body>
</html>
