<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: rgb(56,69,114); /* Dark blue-ish color */
        }

        .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .navbar {
            background-color: rgb(78, 83, 124);
            border-bottom: 5px solid rgb(219, 194, 166);
        }

        .card {
            background-color: rgb(78, 83, 124);
            border: 3px solid rgb(219, 194, 166);
        }

        /* Style for vertical dividers */
        .vertical-divider::after {
            content: '';
            display: block;
            border-left: 2px solid rgb(219, 194, 166);
            height: 100%;
            position: absolute;
            right: 0;
        }

        /* Flex container for centering */
        .d-flex.align-items-center.justify-content-center {
            height: 44px; /* Adjust as needed */
        }

        .card-text{
            color:white;
            font-size: larger;
        }

        .device-name{
            color: rgb(219, 194, 166);
            font-size: x-large;
        }

        .centered-text{
            text-align: center;
            color: rgb(219, 194, 166);
            font-size: x-large;
          
        }



    </style>
</head>
<body>
    <!-- Top Navigation for Profile and Logout -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="btn btn-light" type="button" onclick="redirectToPage('/home')">Back</button>
        <div class="navbar-nav ml-auto">  
        </div>
    </nav>

    <!-- System Cards -->
    <div class="centered-text" style="margin-top: 10px;">My Sharings</div>
    <div class="container">
        <div class="row">
            <!-- Example of a single system card -->
            {% for system in shared2else %}
                <div class="col-lg-12" style="margin-bottom: 10px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center justify-content-center vertical-divider">    
                                <div class="device-name">{{system[0]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-stard vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Shared to:</div>
                                <div class="card-text">&ThickSpace; {{system[1]}}</div>  
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-start vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Since: </div>
                                <div class="card-text">&ThickSpace; {{system[2]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <button class="btn btn-light" onclick="send_form_cancel_else('{{system[3]}}', '{{system[4]}}')" type="button">Cancel</button>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endfor %} 
            <!-- ... repeat for additional cards ... -->
        </div>
    </div>

    <div class="centered-text">Shared With Me</div>
    <div class="container">
        <div class="row">
            <!-- Example of a single system card -->
            {% for system in shared2me %}
                <div class="col-lg-12" style="margin-bottom: 10px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center justify-content-center vertical-divider">    
                                <div class="device-name">{{system[0]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-stard vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Shared from:</div>
                                <div class="card-text">&ThickSpace; {{system[1]}}</div>  
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-start vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Since: </div>
                                <div class="card-text">&ThickSpace; {{system[2]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <button class="btn btn-light" onclick="send_form_cancel_me('{{system[3]}}')" type="button">Cancel</button>
                            </div>    
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- ... repeat for additional cards ... -->
        </div>
    </div>

    <div class="centered-text">Share Requests</div>
    <div class="container">
        <div class="row">
            <!-- Example of a single system card -->
            {% for request in requests %}
                <div class="col-lg-12" style="margin-bottom: 10px;">
                    <div class="card">
                        <div class="row">
                            <div class="col-3 d-flex align-items-center justify-content-center vertical-divider">    
                                <div class="device-name">{{request[2]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-stard vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Request from:</div>
                                <div class="card-text">&ThickSpace; {{request[0]}}</div>
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-start vertical-divider">    
                                <div class="card-text" style="color:rgb(219, 194, 166);">Date: </div>
                                <div class="card-text">&ThickSpace; {{request[3]}}</div>
                            </div>
                            <div class="col-1 d-flex align-items-center" style="margin-left: 20px;">
                                <button class="btn btn-light" onclick="send_form_acc('{{request[1]}}', '{{request[4]}}')" type="button">Accept</button>
                            </div>  
                            <div class="col-1 d-flex align-items-center" style="margin-left: 10px;">
                                <button class="btn btn-light" onclick="send_form_dec('{{request[1]}}', '{{request[4]}}')" type="button">Decline</button>
                            </div>   
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- ... repeat for additional cards ... -->
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }
    </script>
    <script>
        async function send_form_dec(sys_id, user_id) {
            try {
                const response = await fetch("{{url_for('api_share_decline')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        system_id: parseInt(sys_id),
                        user_id: parseInt(user_id)
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/sharing-options";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }
    </script>
    <script>
        async function send_form_acc(sys_id, user_id) {
            try {
                const response = await fetch("{{url_for('api_share_accept')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        system_id: parseInt(sys_id),
                        user_id: parseInt(user_id)
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/sharing-options";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }
    </script>
    <script>
        async function send_form_cancel_me(sys_id) {
            try {
                const response = await fetch("{{url_for('api_share_cancel_me')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        system_id: parseInt(sys_id)
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/sharing-options";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }
    </script>
    <script>
        async function send_form_cancel_else(sys_id, user_id) {
            try {
                const response = await fetch("{{url_for('api_share_cancel_else')}}", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        system_id: parseInt(sys_id),
                        user_id: parseInt(user_id)
                    }),
                });
                
                const result = await response.json();
                if (result.error == false) {
                    window.location.href = "/sharing-options";
                } else {
                    alert("Error: "+ result.message);
                }
            } catch (error) {
                console.error("Error:", error);
                alert("Error (in console)");
            }
        }
    </script>
</body>
</html>
