.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2E4374;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4B527E;
    width: 40%;
    height: 90%;
    border: solid;
    border-color: #E5C3A6;
    border-radius: 5%;
}
.profile img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.profile h2{
    color: #E5C3A6;
    text-align: center;
}
.profile ul{
    list-style: none;
    color: #E5C3A6;
    text-align: center;
}
.profile ul li{
    margin-bottom: 5px;
}
.profile-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.profile-detail button{
    background-color: #E5C3A6;
    border-radius: 5%;
    border: solid;
    border-color: #E5C3A6;
    color: #2E4374;
    width: 200px;
    height: 30px;
    margin-top: 10px;
}
.profile button:hover{
    background-color: #2E4374;
    color: #E5C3A6;
}